:root {
  --basic-color: #f0f5f9;
  --third-color:  #52616b; 
  --fourth-color: #1e2022; 
}
}

body {
  background-color: var(--basic-color);

  font-family: "Lato", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

.about-section {
  background-color: #c9d6df;
  padding: 50px;
}

h1,
p {
  font-size: 18px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

.mugshot {
  opacity: 0.7;
  max-width: 200px;
}

.logo {
  max-width: 70px;
}

.nav {
  padding: 20px 0px;
}

.nav-item {
  font-size: 15px;
}

.active,
.nav-link {
  color:var(--third-color); 
}

.active:hover,
.nav-link:hover {
  color: var(--fourth-color);
}

.contacts {
  color:var(--third-color); 

  font-size: 15px;
  text-decoration: none;
}

.contacts:hover {
 color: var(--fourth-color);
}
footer {
  margin-top: 50px;
}
